<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LÖÖ🅱S</title>
    <link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="#">LÖÖ🅱S</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link active" href="/menue">Menue</a>
        <a class="nav-item nav-link" href="/add-reservation">add Reservation</a>
        <a class="nav-item nav-link" href="/list-reservations">show Reservations</a>
    </div>
</div>
</nav>
<div class="container">
<h1>Menue</h1>
<div class="jumbotron">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Meal</th>
            <th style="float: right">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Lo🅱ster</td>
            <td style="float: right">20 CHF</td>
        </tr>
        <tr>
            <td>🅱read</td>
            <td style="float: right">5 CHF</td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</body>
</html>